# Ignorer les environnements virtuels
env/
venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers temporaires du système
*.swp
*.DS_Store
Thumbs.db

# Ignorer les modèles volumineux (ajustez si nécessaire)
model/random_forest_model.pkl
model/word2vec.model

# Ignorer les fichiers d’outils IDE
.vscode/
.idea/

# Ignorer les fichiers de configuration spécifiques à l'utilisateur
*.env
